# idea stuff
*.iml
.idea/

# scala staff
*.class
*.log

#bloop
server/.bloop

#cmwell specific
.credentials
server/cmwell-cons/app/components/
server/cmwell-cons/app/components-extras/
server/cmwell-cons/app/data/
server/cmwell-cons/app/conf/
server/cmwell-cons/app/docs/
server/cmwell-cons/app/lib
server/cmwell-cons/app/cons-lib
server/cmwell-cons/app/sys
server/cmwell-cons/app/dependencies
server/cmwell-cons/app/plugins
server/cmwell-cons/app/cmwell.properties
server/cmwell-spa/data/.brackets.json

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history

#ensime
.ensime
.ensime_cache/

#metals
.metals/

# Scala-IDE specific
.scala_dependencies
.classpath
.cache
.project
.settings/
.metadata/

#logs
logs/

#private notes
*.note

#latex
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.tex.backup
*.tex~

# junk files
.DS_Store
*.out
*.err
