<div class="auth">
    <h3>You are logged in as {{ username }}</h3>
    <div ng-if="landing">Great! Now take me back to <a href="{{ landing }}">{{ landing }}</a><br/><br/></div>
    <ul>
        <li ng-click="permissionsVisible=!permissionsVisible" class="action">View my permissions</li>
        <ul ng-show="permissionsVisible" class="permissions form">
            <li ng-repeat="p in permissions">
                <span class="{{ p.sign=='+'?'allow':'deny' }}" >
                    {{ p.id }} {{ p.recursive ? "(Recursively)" : "" }}
                    {{ p.permissions.indexOf('r')>-1? "Read": "" }}
                    {{ p.permissions.indexOf('w')>-1? "Write": "" }}
                    <!--todo add roles, operations-->
                </span>
            </li>
        </ul>
        <li ng-click="passwordFormVisible=!passwordFormVisible"><span class="action">Change my password</span></li>
        <div class="form" ng-show="passwordFormVisible">
            <a class="small" ng-click="toggleTextPassword()">{{ textPasswordState ? 'Hide' : 'Show' }} characters</a>
            <br/>
            <div ng-if="capsLock" class="capslock-warning">Caps Lock is on</div>
            <br/>
            Current:<br/><input type="password" ng-model="current">
            <br/><br/>
            New:<br/><input type="password" ng-model="new1">
            <br/><br/>
            New:<br/><input type="password" ng-model="new2">
            <br/><br/>
            <button ng-click="changePassword()" ng-hide="whenLoading" ng-disabled="!current || !new1 || new1!==new2 || new1===current">Change Password</button>
            <img src="/meta/app/angular/images/loading2.gif" ng-show="whenLoading"/>
        </div>
        <li ng-click="logout()" class="action">Log out</li>
    </ul>
</div>
