<div class="sp">
    <h3>CM-Well SPARQL (on whole graph) <small><b>BETA</b></small></h3>
    <div class=pane>
        <textarea id=query placeholder=Query></textarea><br/>
        <button>POST!</button>

        <br/>

    </div>
    <div class=results pane>
        <img class="loading not-displayed" src=/meta/app/angular/images/loading.gif/>
        <textarea class="not-displayed" disabled placeholder=Results></textarea>
        <img class="pop-out not-displayed" src=/meta/app/angular/images/link-out.svg />
    </div>

</div>
