.auth {
    padding-left: 20px;
    margin-bottom: 70px;
}

.action {
    text-decoration: underline;
}

.auth .allow {
    color: green;
}

.auth .allow:before {
    content: 'Allow:';
}

.auth .deny {
    color: maroon;
}

.auth .deny:before {
    content: 'Deny:';
}

ul.permissions {
    margin-left: 15px;
    font-family: monospace;
    font-size: 0.9em;
}

.form {
    margin: 0 0 20px 0px;
    background: #eee;
    width: 300px;
    padding: 20px;
}

.form label {
    font-weight: normal;
}

.auth .landing-message {
    color: maroon;
    margin: 15px 0;
}

.capslock-warning {
    color: maroon;
    font-size: smaller;
}

.form button[disabled] {
    color: #aaa;
}