/* SPRITE */
.links-with-images span.icon {
    background: url(/meta/app/old-ui/images/mimetypes-sprite.png) no-repeat top left;
    width: 16px;
    height: 20px;
    display: inline-block;
    float: left;
    margin: 4px 4px 0 -3px;
}

.links-with-images span[data-mime*='pdf'] {
    background-position: -138px 0;
}

.links-with-images span[data-mime*='text'], .links-with-images span[data-mime*='application/json'] {
    background-position: -184px 0;
}

.links-with-images span[data-mime*='xml'] {
    background-position: -230px 0;
}

.links-with-images span[data-mime*='javascript'] {
    background-position: -92px 0;
}

.links-with-images span[data-mime='folder'] {
    background-position: -46px 0;
}

.links-with-images span[data-mime='active'] {
    background-position: -253px 0;
}

.links-with-images span[data-mime='link'] {
    background-position: -115px 0;
}

.links-with-images span[data-mime*='word'] {
    background-position: -207px 0;
}
.links-with-images span[data-mime*='spreadsheet'] {
    background-position: 0 0;
}

.links-with-images span[data-mime*='excel'] {
    background-position: 0 0;
}

.links-with-images span[data-mime*='powerpoint'] {
    background-position: -161px 0;
}

.links-with-images span[data-mime*='presentation'] {
    background-position: -161px 0;
}

.links-with-images span[data-mime*='unknown'] {
    background-position: -23px 0;
}

.links-with-images span[data-mime*='image'] {
    background-position: -69px 0;
}

.links-with-images span[data-mime='file'] {
    background-position: 0 0; /* excel, but why? */
}
