@(request: Request[AnyContent])

<html><head><title>CM-Well - SPARQL on the Whole Graph Help Page</title>
<style type="text/css">
    body {
        margin: 0;
        font-family: sans-serif;
    }

    h2 {
        background: #555;
        height: 76px;
        padding: 20px;
        color: #fb8f02;
    }

    pre {
        padding: 12px;
    }
</style>
</head>
<body>
<h2>SPARQL on the Whole Graph feature - BETA<br/>Help Page</h2>

<pre>
POST body should be a SPARQL query.
No titles / formatting is required - just the SPARQL.

Supported SPARQL Query Types: SELECT, CONSTRUCT

Available query parameters: verbose, intermediate-limit, results-limit
    verbose - displays information about the query planning and execution runtimes
    intermediate-limit - limits each iteration of triple-matching (expected value is a positive Integer)
    results-limit - limits the amount of returning results (expected value is a positive Integer)






Examples:
(assuming example data from <a href="/_sp">_sp</a> exists)




curl -X POST "http://@request.host/_sparql" --data-binary '
SELECT DISTINCT
    ?name ?active
WHERE {
    ?name &lt;http://www.tr-lbd.com/bold#active&gt; ?active .
} ORDER BY DESC(?active)
'

and the results are:
-------------------------------------------------------------
| name                                            | active  |
=============================================================
| &lt;http://example.org/Individuals/BruceWayne&gt;     | "true"  |
| &lt;http://example.org/Individuals/DonaldDuck&gt;     | "true"  |
| &lt;http://example.org/Individuals/HarryMiller&gt;    | "true"  |
| &lt;http://example.org/Individuals/JohnSmith&gt;      | "true"  |
| &lt;http://example.org/Individuals/MartinOdersky&gt;  | "true"  |
| &lt;http://example.org/Individuals/NatalieMiller&gt;  | "true"  |
| &lt;http://example.org/Individuals/PeterParker&gt;    | "true"  |
| &lt;http://example.org/Individuals/RonaldKhun&gt;     | "true"  |
| &lt;http://example.org/Individuals/SaraSmith&gt;      | "true"  |
| &lt;http://example.org/Individuals/DaisyDuck&gt;      | "false" |
| &lt;http://example.org/Individuals/RebbecaSmith&gt;   | "false" |
-------------------------------------------------------------




curl "http://@request.host/_sparql?verbose" --data-binary '
PREFIX rel: &lt;http://purl.org/vocab/relationship/&gt;

CONSTRUCT { ?uncle rel:demoUncleOf ?nephew . }
WHERE {
  ?uncle rel:parentOf ?x .
  ?x rel:siblingOf ?nephew .
}'

and the results are:
[Plan 25] 00:00:00.027 Planning started.
[Plan 25] 00:00:00.029 Optimizing 2 statements...
[Plan 25] 00:00:01.066 Planning completed.
[Exec 25] 00:00:01.066 Executing started.
[Exec 25] 00:00:01.332 Executing completed.

&lt;http://example.org/Individuals/JohnSmith&gt; &lt;http://purl.org/vocab/relationship/demoUncleOf&gt; &lt;http://example.org/Individuals/RebbecaSmith&gt; .


</pre>


</body>
</html>