@(title: String, content: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@title</title>
    <!-- Bootstrap core CSS -->
    <link href="/meta/app/sys/css/bootstrap.min.css" rel="stylesheet">
    <link href="/meta/app/sys/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        div.dataTables_filter { text-align: left !important; } /* place searchbox in topleft corner rather than topright */
        .col-sm-12 { width: auto !important; } /* remove the stupid scrollbar */
    </style>

    <script>var csvDataContents = "@Html(content)";</script>
</head>

<body>
<div class="container-fluid">

    <h2>@title</h2>

    <div id='table-container'></div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/meta/app/sys/js/jquery-1.11.2.min.js"></script>
<script src="/meta/app/sys/js/bootstrap.min.js"></script>
<script src="/meta/app/sys/js/jquery.csv.min.js"></script>
<script src="/meta/app/sys/js/jquery.dataTables.min.js"></script>
<script src="/meta/app/sys/js/dataTables.bootstrap.js"></script>
<script src='/meta/app/sys/js/csv_to_html_table.js'></script>

<script>
      init_table({
        element: 'table-container',
        allow_download: false,
        csv_options: {separator: ',', delimiter: '"'},
        datatables_options: {"paging": false, "ordering": false, "scrollX": true}
      });
    </script>
</body>
</html>