<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--<statusListener class="ch.qos.logback.core.status.NopStatusListener" />-->
    <statusListener class="ch.qos.logback.core.status.OnErrorConsoleStatusListener" />
    <jmxConfigurator />

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%date [%thread] - 5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AkkaFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/akka.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} [%thread %X{sourceThread}] %-5level %logger{36} %X{sourceActorSystem} %X{akkaSource} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/akka.log.%i</fileNamePattern>
            <maxIndex>21</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="red-logger-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/red.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} [%thread %X{sourceThread}] %-5level %logger{36} %X{sourceActorSystem} %X{akkaSource} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/red.log.%i</fileNamePattern>
            <maxIndex>21</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="output" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/output.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} [%thread %X{sourceThread}] %-5level %logger{36} %X{sourceActorSystem} %X{akkaSource} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/output.log.%i</fileNamePattern>
            <maxIndex>21</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="RootLoggerAppender" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t, %L, %C{1}, %M %m%n</pattern>
        </encoder>
    </appender>

    <appender name="BAD_DATA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/bad-data.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d TKD [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/bad-data.log.%i</fileNamePattern>
            <maxIndex>21</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="akka" level="DEBUG" additivity="false">
        <appender-ref ref="AkkaFile" />
    </logger>

    <logger name="red-logger" level="DEBUG" additivity="false">
        <appender-ref ref="red-logger-file" />
        <appender-ref ref="RootLoggerAppender" />
    </logger>

    <logger name="bad-data" level="DEBUG" additivity="false">
        <appender-ref ref="BAD_DATA" />
    </logger>

    <logger name="ch.qos" level="DEBUG" additivity="false">
        <appender-ref ref="output"/>
    </logger>

    <logger name="cmwell.tools.data" level="DEBUG" additivity="false">
        <appender-ref ref="output"/>
    </logger>

    <root>
        <level value="${log.level:-INFO}"/>
        <!--<appender-ref ref="RootLoggerAppender"/>-->
        <appender-ref ref="output"/>
    </root>
</configuration>
