<div class="upload">

<h3>Upload RDF Data</h3>

<textarea placeholder="
  Type/paste some RDF data,
  or drop a local file here."></textarea>

<br/>

<select>
    <option class="not-displayed" selected>Format</option>
    <option ng-repeat="format in formats | is:'Rdf'" value="{{format.value}}">{{format.displayName}}</option>
</select>

<button disabled="true" title="Please choose format first">Upload</button>

<br/>
<br/>

<label class="not-displayed"><input type="checkbox" id="use-the-force"/>Add "force" query param</label><br/>
<label class="not-displayed"><input type="checkbox" id="ignore-errors"/>Ignore Errors</label>


<div class="upload-progress not-displayed"><br/>{{uploadProgress}}% completed<br/>ETA: {{eta}}<br/>
    <span class="bar-container">
        <span class="bar"></span>
    </span>
</div>

</div>

