<div class="adddn">
    <h3>Adding a Display Name</h3>
    <p>
        Display Name for <b>type.rdf</b>:<br/>
        <input id="typerdf" placeholder="type.rdf value" size="64">
    </p>
    
    <p>Display Names (each line will be a display name, order matters):<br/>
        <textarea id="dns"></textarea>
    </p>

    <button id="submit" disabled="disabled">Add</button>

    <p style="margin-top: 20px;font-size: small;">
        <i>Note: You should be logged in as a user with write premissions to /meta</i>
    </p>
</div>