<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <jmxConfigurator />
    <appender name="RootFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/application.log.%i</fileNamePattern>
            <maxIndex>100</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10000000</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t, %L, %C{1}, %M %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="BG_RED_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/red.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/red.log.%i</fileNamePattern>
            <maxIndex>21</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="HEARTBIT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/heartbit.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/red.log.%i</fileNamePattern>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>


    <logger name="bg_red_log" level="DEBUG" additivity="false">
        <appender-ref ref="BG_RED_LOG" />
    </logger>

    <logger name="heartbit_log" level="INFO" additivity="false">
        <appender-ref ref="HEARTBIT_LOG" />
    </logger>

    <logger name="org.apache.kafka" level="info"/>
    <logger name="akka" level="INFO"/>

    <logger name="org.elasticsearch" level="info"/>

    <!--<logger name="cmwell.metrics">-->
        <!--<appender-ref ref="LOGSTASH"/>-->
    <!--</logger>-->

    <!--<logger name="cmwell.akka" level="DEBUG"/>-->
    <logger name="cmwell.bg" level="${log.level:-DEBUG}"/>
    <root>
        <level value="INFO"/>
        <appender-ref ref="RootFileAppender"/>
        <!--<appender-ref ref="STDOUT"/>-->
    </root>
</configuration>
