.chooseTypetIcon {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

#chooseTypeText {
    font-family: monospace;
    background: transparent;
    text-align: center;
    margin-top: 0;
    white-space: nowrap;
    width: 106px;
}

#chooseType {
    background: #f3f3f3;
    width: 115px;
    height: 22px;
    display: inline-block;
    border: 1px solid #ffb01c;
}

#typeListContainer {
    background: #f3f3f3;
    position:absolute;
    z-index:101;
    padding: 5px;
    width: 192px;
    display: none;
    border: 1px solid #ffb01c;
}

#typeList {
    list-style-type:none;
    padding: 0px;
}

.typeListItem {
	font-family: monospace;
	background: #dedede;
	cursor: pointer;
	border: 1px solid #a8a099;
	padding: 5px;
}