body {
    font-family: Helvetica, Arial, Sans-serif;
}

h1 {
    font-size: 24px;
    border-bottom: 3px solid #FFC880;
    margin-bottom: 0;
}

h2 {
    font-size: 16px;
    color: #565656;
    margin-top: 0;
}

a {
    color: #2270A8;
}

.capitalized {
    text-transform: capitalize;
}

.content {
    font-size: small;
    margin-left: 26px;
}

.entry {
    background: #F1F1F1;
    padding: 6px;
    margin-bottom: 10px;
}