.header {
    height: 69px;
    margin: 0;

    background: -moz-linear-gradient(top,  rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,0)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */

    border-bottom: solid 3px #ffc880;
}

.logo {
    width: 192px;
    height: 70px;
    margin-left: 17px;
    float:left;
    background: url('/meta/app/images/logo.png');
    position: relative;

    transition-property: -webkit-filter, filter;
    transition-duration: 1500ms;
}

.logo > .version-text {
    text-align: right;
    font: 7px monospace;
    color: #707070;
    float: right;
    margin-top: 57px;
    display: inline;
    text-align: right;
}

.logo > .release-name {
    color: #707070;
    font-size: 12px;
    font-family: Helvetica;
    text-transform: capitalize;
    float: right;
    display: inline;
    display: inline;
    text-align: right;
    margin-top: 50px;
}


/*
.logo > .release-name:after {
    content: '|';
    color: #ff9100;
    margin: 0 2px;
}
*/

.tr-logo {
    width: 167px;
    height: 68px;
    background: url('/meta/app/images/tr-logo.png');
    float: right;
}

.motd {
    bottom: 0px;
    position: fixed;
    width: 100%;
    display: none;
    background: rgb(80, 80, 200);
}

.motd .close-button {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    display: block;
    font-size: 12px;
    text-align: center;
    color:black;
    line-height: 130%;
    font-weight: bold;
}

.motd .inner-container {
    padding: 32px;
    text-align: center;
}
