/* Common */

* {
    -webkit-box-sizing: inherit !important; /* Overriding bootstrap */
}

.cmw-row {
    line-height: 182%;
    padding-left: 5px;
    min-height: 22px;
    overflow: hidden;
    clear: both;
    display: block;
    color: #837a71;
    font-family: Ariel, Helvetica, Sans Serif;
    font-size: 14px;
    border-radius: 3px;
}

.cmw-row:not(.menu-bullet):hover {
    background: #eee;
}

/* Left side: Toolbar */

.toolbar {
    position: relative;
    background: rgb(241, 241, 241);
    padding-left: 15px;
    height: 26px;
}

.toolbar ul {
    padding-top: 2px;
}

.toolbar .cmw-row:not(.menu-bullet):hover {
    background: #ffc880;
}

.toolbar li {
    display: inline;
}

.toolbar li:not(.first):before {
    content: '|';
    color: #ccc;
    margin: 0 3px;
}

.toolbar select {
    display: inline;
}

.toolbar .menu-bullet {
    width: 16px;
    height: 20px;
    display: inline-table;
    padding-right: 6px;
}

.atom {
    background: url(/meta/app/images/atom_feed.png) 0 3px no-repeat;
}

.view-with-history {
    background: url(/meta/app/images/history.svg) 0 3px no-repeat;
}

.toolbar input:not([type="checkbox"]) {
    float: left;
    width: 128px;
    margin-top: 8px;
}

.toolbar input[type="checkbox"] {
    vertical-align: middle;
}

.toolbar label {
    float: right;
    padding-right: 5px;
}

.toolbar label span {
    font-size: 11px;
}

.sub-menu {
    background: rgb(241,241,241);
    padding: 0 5px 0 5px;
    border: none;
    color: #837a71;
    font-family: Ariel, Helvetica, Sans Serif;
    font-size: 14px;
}

option[disabled] {
    color: rgb(166, 166, 166);
}

.toolbar .search {
    position: relative;
}

.toolbar .search-menu {
    position: absolute;
    top: 21px;
    left: 0px;
    background: rgb(241,241,241);
    padding: 0 5px 6px 5px;
    border: 2px #ffc880 solid;
    z-index: 100;
    width: 160px;
}

.field-related-menus {
    background: rgb(241, 241, 241);
    float: right;
    max-height: 24px;
}

.toolbar .info {
    color: #837a71;
    font-family: Ariel, Helvetica, Sans Serif;
    font-size: 10px;

    position: absolute;
    top: -16px;
    right: 87px;
}

.toolbar .link {
    display: inline;
    padding: 3px;
}

.ui-menu-item {
    font-size: 12px;
}

.selected {
    background: #ffc880 !important;
}

.toolbar img {
    width: 16px;
    height: 16px;
    padding-left: 4px;
}

.toolbar img .tiny {
    width: 12px;
    height: 12px;
}

.toolbar .search-menu-title  {
    display: inline;
}

.search-icon {
    float: left;
    opacity: 0.4;
    display: block;
    margin-top: 9px;
}

.toolbar label {
    margin-top: -2px;
}

.toolbar .analytical {
    -webkit-animation: bounce 1.2s ease-out;
}

.toolbar li.help-icon {
    float: right;
}

.toolbar li.help-icon span.cmw-row {
    display: inline;
    padding: 6px 0.1px 4px 3px;
}

.toolbar li.help-icon span.cmw-row img {
    width: 16px;
    height: 16px;
    padding-left: 4px;
    margin-top: -4px;
}

.toolbar li.help-icon span.cmw-row a {
    font-size: small;
    font-weight: bold;
    padding-right: 11px;
}


/* Middle: Navigation */

.navigation {
    padding-left: 20px;
}

a, a:visited a:hover {
    text-decoration: none;
    color: #837a71 !important;
}

.link-out-icon:after {
    content: url(/meta/app/images/link-out.svg);
    margin-left: 2px;
}

a.red-link {
    color: maroon !important;
}

.breadcrumbs-container {
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-serif;
    padding: 4px 0 16px 0;
    display: inline-block;
}

.breadcrumbs .lock {
    background: url(/meta/app/images/lock.png);
    width: 14px;
    height: 16px;
    display: inline-block;
    margin-bottom: -2px;
}

.breadcrumbs .lock.greyed {
    background: url(/meta/app/images/lock-greyed.png);
}

.breadcrumbs .home-link {
    background: url(/meta/app/images/IconHome.gif);
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position-y: 3px;
    padding-bottom: 1px;
    border-bottom: 1px solid white;
    margin-bottom: -3px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .home-link:hover {
    border-bottom: 1px solid grey;
}

.breadcrumbs .separator {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #ffb01c;
    display: inline-block;
    padding-left: 2px;
    margin-left: 4px;
}

.breadcrumbs .type-breadcrumb {
    font-style: italic;
}

.types-navi-button img {
    width: 16px;
    margin: 3px 0 0 4px;
}


.fields-navi {
    margin: -9px 0 11px 0;
    background: #f8f8f8;
    border: 1px solid #eee;
    max-height: 22px;
    overflow-y: hidden;
    position: relative;    
}

.fields-navi .navi-field {
    padding: 0 5px;
    display: inline-block;
} 

.fields-navi .more {
    position: absolute;
    top: 0px;
    right: 4px;
    display: block;
    background: #f8f8f8;
    padding-left: 5px;
    font-weight: bold;
}

.fields-navi span.amount {
    font-size: smaller;
    color: #837a71;
    margin-left: 2px;
}



.links-with-images .cmw-row {
    position: relative;
}

.links-with-images .infoton-display-name {
    font-size: 18px;
}

.links-with-images .infoton-path {
    font-size: 13px;
}

.links-with-images a.cmw-row.with-display-name {
    line-height: 1.3;
    margin-bottom: 8px;
}

.floaty {
    float: right;
    margin-top: 3px;
    margin-bottom: -3px;
}

.floaty-icon {
    display: inline-block;
    margin-right: 4px;
}

/* todo: Unify Floaty icon sizes, create a Sprite */

.floaty-icon.with-history {
    background: url(/meta/app/images/history.svg);
    width: 12px;
    height: 12px;
    margin-bottom: 2px;
}

.floaty-icon.diff-view {
    background: url(/meta/app/images/compare.png);
    background-size: contain;
    width: 12px;
    height: 12px;
    margin-bottom: 2px;
}

.floaty-icon.rss {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgaWQ9IlJTU2ljb24iIHZpZXdCb3g9IjAgMCA4IDgiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCI+PHRpdGxlPlJTUyBmZWVkIGljb248L3RpdGxlPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+IC5idXR0b24ge3N0cm9rZTogbm9uZTsgZmlsbDogI2ZmODAwMDt9IC5zeW1ib2wge3N0cm9rZTogbm9uZTsgZmlsbDogd2hpdGU7fTwvc3R5bGU+PHJlY3QgICBjbGFzcz0iYnV0dG9uIiB3aWR0aD0iOCIgaGVpZ2h0PSI4IiByeD0iMS41IiAvPjxjaXJjbGUgY2xhc3M9InN5bWJvbCIgY3g9IjIiIGN5PSI2IiByPSIxIiAvPjxwYXRoICAgY2xhc3M9InN5bWJvbCIgZD0ibSAxLDQgYSAzLDMgMCAwIDEgMywzIGggMSBhIDQsNCAwIDAgMCAtNCwtNCB6IiAvPjxwYXRoICAgY2xhc3M9InN5bWJvbCIgZD0ibSAxLDIgYSA1LDUgMCAwIDEgNSw1IGggMSBhIDYsNiAwIDAgMCAtNiwtNiB6IiAvPjwvc3ZnPgo=);
    width: 10px;
    height: 10px;
    margin-bottom: 3px;
}

.floaty-icon.plain-text {
    background: url(/meta/app/images/text.file.png);
    width: 17px;
    height: 16px;
}

.floaty-icon.edit:after {
    content: 'Edit'; /*todo icon*/
    width: 17px;
    height: 16px;
}

.floaty-icon.markdown {
    background: url(/meta/app/images/markdown.svg);
    width: 10px;
    height: 10px;
    margin-bottom: 2px;
}

.floaty-icon.view {
    background: url(/meta/app/images/eye.svg);
    width: 16px;
    height: 16px;
    margin-bottom: 0px;
    background-size: cover;
}

.link-infoton-target {
    display: none;
    position: absolute;
    right: 35px;
    font-size: 12px;
}

.file {
    overflow: scroll;
    font-size: smaller;
}

.add-user-form {
    border: 1px solid silver;
    padding-left: 6px;
    margin-top: 7px;
    width: 361px;
    height: 433px;
}

.add-user-form dt {
    width: 107px;
    clear:left;
    line-height: 200%;
}
.add-user-form dd {
    width: 245px;
}

.add-user-form dt, .add-user-form dd {
    float:left;
}

.add-user-form h3 {
    line-height: 40%;
    margin-bottom: 20px;
}

.add-user-form .reload {
    margin-left: 15px;
    color: rgb(255, 131, 8);
    font-weight: bold;
    font-size: 0.75em;
}

.add-user-form #password, .add-user-form #username {
    font-family: monospace;
    color: navy;
    font-size: 0.9em;
}

.add-user-form #password {
    width: 96px;
    display: inline-block;
}

.add-user-form input {
    border: 0;
    border-bottom: 1.2px solid rgb(80, 80, 80);
}

.add-user-form #password img {
    width: 18px;
    height: 18px;
}

.add-user-form textarea {
    font-family: monospace;
    font-size: 8pt;
    width: 240px;
    height: 270px;
    overflow: scroll;
    resize: none;
}

.add-user-form button {
    margin: 5px 5px 0 0;
    font-size: 0.8em;
}

.add-user-button {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 131, 8);
}

.add-user-button:after {
    content: '+';
}


.ui-resizable-handle {
    cursor: e-resize !important;
}

.pager {
    float: right;
    font-family: Helvetica;
    color: #837a71;
    font-size: 17px;
    margin-top: 7px;
}

.pager-title {
    float: left;
    font-size: 24px;
    font-family: Ariel, Helvetica, Sans Serif;
    color: #888;
}

.pager-title-small {
    float: left;
    font-size: 18px;
    font-family: Ariel, Helvetica, Sans Serif;
    color: #888;
    margin-bottom: 5px;
}

.pager .button {
    color: #ffb01c;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}

.pager .page-link {
    font-weight: bold;
    font-size: 14px;
    padding: 0;
}

.pager .prev {
    padding-right: 7px;
}

.pager .next {
    padding-left: 7px;
}

.current {
    color: #ffb01c;
}

.pager .page-link a:hover {
    text-decoration: underline;
}

.disabled {
    opacity: 0.4;
}


.file-infoton-content {
    overflow-x: scroll;
    border: 1px #ccc solid;
    padding: 3px;
    font-size: 10px;
}

.file-infoton-content textarea {
    font-family: monospace;
    font-size: 8pt;
}

.file-infoton-content button {
    margin-right: 5px;
}

/* Right side: Infoton View */

.infoton-view {
    flex-grow: 1;
    padding-right: 40px;
}

.infoton-view a {
    text-decoration: underline;
}

.infoton-view .hidden-info {
    color: white;
    margin-left: 15px;
    display: inline-block;
}

dt {
    float: left;
    min-width: 100px;
}

dt:not(.empty):after {
    content: ':';
}

dd {
    margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.part ul {
    margin-bottom: 0;
}

.part table {
    min-width: 430px;
}

h2.infoton-part-title {
    color: #837a71;
    font-family: Ariel, Helvetica, Sans Serif;
    font-size: 24px;
    font-weight: normal;
    margin: -3px 0 5px -4px;
}

.collapse-handle {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgdmlld0JveD0iMCAwIDI2IDI2Ij48cGF0aCBzdHJva2Utd2lkdGg9IjAiIGQ9Ik0gNyAyNC4zNjIzIEMgNi45OTg5IDI2LjEwNTggNy4zNDc1IDI2LjY2NDQgOS4wOTc1IDI1LjAxMDggTCAxOC42MDc2IDE2LjAxNDEgQyAyMS44MDA1IDEyLjk5NDggMjEuNzkyNSAxMy4wMzAyIDE4LjYxMzMgMTAuMDIyIEwgOS4wOTc1IDEuMDQyMiBDIDcuMzUwOSAtMC42MDk4IDcuMDAxMSAtMC4yMjk1IDcgMS42OTk3IEwgNyAyNC4zNjIzIFoiIHN0eWxlPSJzdHJva2U6IHJnYigxNzAsIDE3MCwgMTcwKTsgZmlsbDogcmdiKDE3MCwgMTcwLCAxNzApOyI+PC9wYXRoPjwvc3ZnPgo=);
    transform: rotate(90deg);
    transition: transform 350ms;
}

span.tag {
    display: inline-block;
    padding: 1px 4px;
    margin: 1px;

    color: white;
    background: rgb(254, 158, 62);

    font-size: 0.8em;
    font-weight: bold;

    border-radius: 2px !important;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
}

.new-value {
    color: #888;
    font-style: italic;
}

.err {
    color: red;
}

.new-value td {
    border: 1px dashed #ccc;
    min-width: 60px;
}

textarea.raw-text {
    font-family: monospace;
    font-size: 0.8em;
    display: block;
    white-space: nowrap;
    overflow: auto;
    width: 410px;
    height: 314px;
}

.edit-controls button, .edit-controls select {
    margin: 5px 5px 0 0;
    font-size: 0.8em;
    float: left;
    line-height: 90%;
}

.edit-controls .result {
    color: green;
}

.edit-controls .result.err {
    color: maroon;
}

.edit-controls .warn {
    color: #E2AE0C;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 4px;
}

.home-image {
    margin-top: 40px;
    position: relative;
}
.ui-dialog .ui-dialog-title {
    color: black !important;
}

.ui-dialog .ui-dialog-content {
    padding: 0 !important;
}

.raw-data {
    padding-right: 12px;
}

.loading-image {
    display: block !important;
    margin: auto !important;
    padding: 100px !important;
    width: 60px !important;
}

.chart .ui-dialog-content {
    text-align: center;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #4c3000 !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 2px 10px 1px 10px !important;
}

.ui-tabs {
    padding: 0 !important;
    border: 0 !important;
}

.chart-title {
    display: block;
    margin: auto;
    width: auto;
    font-weight: bold;
    text-align: center;
}

/*.chart-title .var {
    color: #3584BB;
}*/

svg:not(.rdf) {
    height: 700px !important;
    width: 100% !important;
    margin: auto;
}

canvas {
    width: 800px;
    height: 400px;
    margin: auto;
}

.close-msg {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 10px
}

.tabs-in-dialog dl {
    display: inline-block;
    font-size: 14px;
}

.tabs-in-dialog dt {
    padding: 0 0 7px 12px;
}

.stats {
    padding: 15px;
}


.qtip-links {
    font-size: 12px;
    font-weight: normal;
    font-family: monospace;
    text-align: center;
    display: block;
    text-decoration: underline;
}

.qtip:not(.custom) {
    font-family: monospace !important;
    font-size: 12px !important;
    line-height: 14px !important;
    max-width: 500px !important;
}

.qtip pre {
    height: 600px;
    overflow-y: scroll;
}

.qtip pre a {
    color: #123456;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 4px;
}

tr {
    color: #837a71;
    font-family: Ariel, Helvetica, Sans Serif;
    font-size: 14px;
    border-radius: 3px;
}

.hr {
    border-bottom: 1px #ccc solid;
    margin: 0 31px 17px 17px;
}

.error-msg {
    color: red;
}

.error-msg .title {
    font-size: 24px;
    font-family: serif;
    font-style:italic;
}

.error-msg .content {
    font-size: 12px;
    font-family: monospace;
    padding-left: 20px;
}

/* History View */

table.diff {
    float: left;
}

#history-view {
    position: absolute;
    top: 105px;
    left: 6px;
    background: white;
    box-shadow: 1px 1px 6px 1px;
    padding: 10px;
    width: 90%;
}

#history-view .data {
    overflow-x: scroll;
}

#history-view h3 {
    text-align: center;
}

#history-view .close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.hidden-door {
    position: absolute;
    left: 277px;
    top: 323px;
    color: rgb(140, 140, 140);
    z-index: 9000;
}

.status-bar {
    margin-left: 10px;
    color: rgb(255, 129, 0);
    font-weight: bold;
    font-style: italic;
}

.status-bar span {
    margin-right: 10px;
}


/* linked infotons graph */

svg line.link {
    fill: none;
    stroke: #ADADAD;
    stroke-width: 2.5px;
}

#links-navigation .node circle {
    fill: #fff;
    stroke: #888;
    stroke-width: 3px;
}

#links-navigation .node.root-of-all circle {
    fill: #fff;
    stroke: orange;
    stroke-width: 4px;
}

#links-navigation .node text {
    font: 12px sans-serif;
}

#links-navigation .link path {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

#status-bar {
    color: #333;
    font-family: monospace;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

img#loading {
    position: absolute;
    top: 137px;
    padding: 15px;
    display: none;
}

a.usage {
    margin-left: 64px;
    font-style: italic;
    font-size: small;
}

.copy-to-clipboard-util {
    font-size: smaller;
    width: 100%;
}
